{{ $item := .item }}
{{ $link := $item.RelPermalink }}
{{ $target := "" }}
{{ if $item.Params.external_link }}
  {{ $link = $item.Params.external_link }}
  {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
{{ end }}

<a href="{{ $link }}" {{ $target | safeHTMLAttr }} class="block my-5">
  <div class="flex flex-col">
    <!-- 新闻标题 -->
    <div class="text-lg font-semibold text-primary-700 dark:text-primary-200 hover:underline">
      {{ $item.Title }}
    </div>

    <!-- 新闻的附加信息或链接 -->
    <div class="text-sm text-gray-600 dark:text-gray-400 mt-2">
      {{ $item.Params.summary | default $item.Summary | plainify }}
    </div>

    <!-- 可选的附加链接或注释 -->
    {{ if $item.Params.additional_links }}
    <div class="mt-2">
      {{ range $link := $item.Params.additional_links }}
        <a href="{{ $link.url }}" class="text-primary-500 hover:underline" target="_blank">{{ $link.label }}</a>
      {{ end }}
    </div>
    {{ end }}
    
    <!-- 显示日期 -->
    <div class="mt-1 text-sm text-gray-500 dark:text-gray-400">
      {{ $item.Date | time.Format "Jan, 2006" }}
    </div>
  </div>
</a>